@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
    margin-top: 60px; /* Altura del navbar */
    flex: 1;
    margin-bottom: 60px; /* Espacio para el footer */
    overflow-y: auto;
}

.margin-top-icon {
    height: 100%;
}
.sidebar {
    width: 280px;
    min-height: 100vh;
    background: #2D3643;
    transition: all 0.3s;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s;
}

.sidebar a:hover {
    background: #E8F3FF;
    color: #479BFF;
}

.submenu {
    padding-left: 2rem;
    background: #2D3643;
}

.submenu-item {
    padding: 0.5rem 1rem;
    display: block;
}

.menu-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menu-item i {
    margin-right: 10px;
}

.rotate-icon {
    transform: rotate(180deg);
    transition: transform 0.3s;
}
.logo_banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.notifications {
    width: 360px;
}

.greet {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.logo-img {
    height: 170px;
}
.text-small {
    color: #969CA2;
    font-size: 12px;
    margin-left: 20px;
    font-weight: 700;
}
.search-icon {
    font-size: 25px;
    color: #C8C7C8;
    margin-top: 5px;
}
.session-icon {
    font-size: 22px;
    color: #858485;
    margin-top: 5px;
    transition: 0.1s ease-in-out;
    border: 50%;
    padding: 5px;
    cursor: pointer;
}
.session-icon:hover {
    background-color: #E8F3FF;
    border-radius: 50%;
    color: #479BFF;
}
.search-input {
    margin-left: 15px;
}
.add-center {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.btn-custom-size {
    margin-top: 15px;
    width: 17%;
    margin-left: 5px;
    margin-right: 5px;
}
.custom-icon-size {
    font-size: 18px;
}
.update-option {
    display: flex;
    align-items: center;
    justify-content: center;
}
.espaciado {
    margin-left: 4px;
    margin-right: 4px;
}
#no-hover a:hover {
    background: #2D3643;
    color: #fff;
}
#active {
    background: #E8F3FF;
    margin: 15px;
    border-radius: 9px;
}
#active > span {
    color: #479BFF !important;
}

#active > a > span {
    color: #479BFF !important;
}
.topbar-icon {
    font-size: 18px;
}
span > i {
    font-size: 20px;
}
.font_custom-white {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-center {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 280px; /* Alineación con el sidebar */
    right: 0;
    z-index: 1030; /* Asegura que esté sobre el contenido */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para separarla visualmente */
}


/* Estilo general del footer */
.footer {
    height: 60px;
    line-height: 60px;
    position: fixed;
    bottom: 0;
    left: 280px; /* Ancho del sidebar */
    right: 0;
    background-color: #f8f9fa; /* Color de fondo similar al navbar */
    z-index: 1000; /* Asegura que esté encima del contenido */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Texto y enlaces */
.footer span {
    font-size: 14px;
}

.footer a {
    text-decoration: none;
    color: #6c757d;
}

.footer a:hover {
    text-decoration: underline;
}
